
<ion-header>

  <ion-navbar>
    <ion-title text-center>{{individualAirport.airportcode | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
	  <img src="../assets/img/{{individualAirport.airportcode}}.jpg"/>
	  <ion-card-content>
	  	<ion-avatar text-right>
	     <h1>{{individualAirport.airportcode | uppercase}}</h1>
	    </ion-avatar>

	    <ion-card-title>
	     {{individualAirport.airportname | uppercase}}
	      </ion-card-title>
	    <p>{{individualAirport.city | uppercase}}, {{individualAirport.state | uppercase}}</p>
	    <p>{{individualAirport.countryfull | uppercase}}</p>
	  </ion-card-content>
	  <ion-row>
	  	<ion-col text-right>
	  		<button ion-button clear small (click)="onAddToMyList(individualAirport)"
	  		*ngIf="!isFavorite(individualAirport)">
	  			<ion-icon name="heart" padding-right></ion-icon>Add to my list</button>
	  		<button ion-button clear small (click)="onDeleteFromMyList(individualAirport)"
	  		*ngIf="isFavorite(individualAirport)" color="danger">
	  			<ion-icon name="trash" padding-right></ion-icon>Remove from my list</button>
	  	</ion-col>
	  </ion-row>
	</ion-card>
</ion-content>
